openapi: '3.0.0'
info:
  version: 1.0.0
  title: DIGI Risinajumi API
  description: API for managing documentation spaces and content in DIGI Risinajumi
  license:
    name: MIT
servers:
  - url: https://api.digirisinajumi.com/v1
paths:
  /documents:
    get:
      summary: List all documents in the system
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new document in the documentation system
      operationId: createDocument
      responses:
        201:
          description: Document created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Retrieve information for a specific document
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: The unique identifier of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update an existing document with new content
      operationId: updateDocument
      responses:
        200:
          description: Document updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      summary: List all documentation projects in the organization
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many projects to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated list of documentation projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation project
      operationId: createProject
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Get details for a specific documentation project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update project settings and configuration
      operationId: updateProject
      responses:
        200:
          description: Project updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - title
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        spaceId:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
